//<COLORS>========================================
$color-black: #111111;
$color-white: #ffffff;
$color-gold: #d9b033;
$color-gold-hover: #ffd03d;
$color-gold-click: #af8e29;
//</COLORS>========================================

//<FONTS>========================================
$fontFamily: 'Inter', sans-serif;
$fontSize: 16px;
//</FONTS>========================================

//<SCREENS>========================================
$screen-374: 374px;
$screen-480: 480px;
$screen-768: 768px;
$screen-1024: 1024px;
$screen-1200: 1200px;
$screen-1320: 1320px;
//</SCREENS>========================================
