.vacancies {
	background: #f2f2f2;
	padding: 100px 0;
	@include screen-1024 {
		padding: 50px 0;
	}
	@include screen-480 {
		padding: 30px 0;
	}
	.section-title {
		text-align: center;
		margin-bottom: 50px;
		@include screen-1024 {
			margin-bottom: 25px;
		}
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		@include screen-1200 {
			gap: 10px;
		}
		@include screen-1024 {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		position: relative;
		padding: 40px 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		@include screen-1320 {
			padding: 20px 15px;
		}
		@include screen-1200 {
			padding: 20px 10px;
		}
		@include screen-1024 {
			padding: 0 0 10px 0;
		}

		&:not(:last-child) {
			&::before {
				content: '';
				width: 1px;
				height: 100%;
				position: absolute;
				top: 0;
				right: -15px;
				background: #cecece;
				@include screen-1200 {
					right: -6px;
				}
				@include screen-1024 {
					right: auto;
					top: auto;
					bottom: 5px;
					width: 50%;
					height: 1px;
				}
			}
		}
	}

	&__item-icon {
		margin-bottom: 20px;
		@include screen-1024 {
			margin-bottom: 5px;
		}
	}

	&__item-title {
		font-weight: 500;
		font-size: 30px;
		line-height: 1.6;
		text-align: center;
		min-height: 96px;
		@include screen-1024 {
			min-height: auto;

			br {
				display: none;
			}
		}
	}

	&__item-salary {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 500;
		font-size: 50px;
		line-height: 1.4;
		@include screen-1024 {
			font-size: 40px;
		}
		span {
			font-size: 18px;
			line-height: 1.56;
		}
	}

	&__item-duties {
		margin-top: 40px;
		@include screen-1320 {
			margin-top: 20px;
		}
		@include screen-1024 {
			margin-top: 5px;
			width: 100%;
			align-self: flex-start;
		}
		ul {
			li {
				margin-top: 18px;
				position: relative;
				padding-left: 47px;
				@include screen-1024 {
					padding-left: 40px;
					margin-top: 0;
				}
				&::before {
					content: '';
					width: 32px;
					height: 32px;
					background-image: url(../img/approve.svg);
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					left: 0;
					top: 0;
				}
				@include screen-1200 {
					padding-left: 30px;
					&::before {
						top: 5px;
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}

	&__item-text {
		text-align: center;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.56;
		margin-bottom: 54px;
		margin-top: 20px;
		@include screen-1200 {
			font-size: 16px;
			line-height: 1.88;
		}
		@include screen-1024 {
			margin: 10px 0;
		}
	}

	&__item-contacts {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		h3 {
			font-weight: 500;
			font-size: 28px;
			line-height: 1.36;
			margin-bottom: 20px;
		}
		span {
			font-weight: 500;
			font-size: 18px;
			line-height: 1.56;
			color: $color-gold;
		}
		a {
			font-weight: 500;
			font-size: 28px;
			line-height: 1.36;
			transition: all 0.3s ease-in-out 0s;
			&:hover {
				color: $color-gold-hover;
			}
		}
	}
	.button {
		margin-top: 20px;
	}
}
